# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.celery_env/
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/